.intro-content {
    position: relative;
    /*top: -7rem; */
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
    gap: var(--gap);
    min-height: 100vh;
}

.intro-text-content, .intro-img  {
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.intro-img img {
    height: auto;
    max-width: 100%;
}

.top-three-content {
    max-width: 64rem;
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    justify-content: center;
    height: 110vh;
}


.grid-one-content {
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.grid-main-heading {
    margin-bottom: 1rem;
}

.grid-description {
    padding-bottom: 5rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    counter-reset: grid-counter;
}

.grid h3 {
    font-size: 3rem;
    position: relative;
    padding-left: 5rem;
    padding-bottom: 2rem;
}

.grid h3::before {
    counter-increment: grid-counter;
    content: counter(grid-counter);
    position: absolute;
    font-size: 8rem;
    font-style: italic;
    top: -4rem;
    left: -2rem;
    transform: rotate(5deg);
}

.gallery-img {
    width: 100%;
    max-width: 36rem;
    max-height: 36rem;
    overflow: hidden;
}

.gallery-img img {
    transition: all 300ms ease-in-out;
}

.gallery-img img:hover {
    transform: translate(-3%, 3%) scale(1.2) rotate(5deg);
}

.contact-form {
    grid-column: span 2;
}

.contact-form .form-grid {
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
}



.price p {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20rem;
    width: 50rem;
    margin: 0 auto;
}

.form-group {
    flex: 1 1 40rem;
}

legend {
    margin-bottom: 3rem;
    font-style: italic;
    font-size: 1.6rem;
}

.form-group label {
    display: block;
    margin-bottom: 1rem;
}

.form-group input,
.form-group textarea {
    border: none;
    background: #FFF;
    padding: 1.5rem 2rem;
    width: 100%;
    font-size: 3rem;
    outline: none;
}


.full-width {
    flex: 1 1 100%;
    width: 100%;
}

.form-group button {
    border: 0.5rem solid #FFF;
    color: #FFF;
    font-size: 3rem;
    background: none;
    padding: 1.5rem 2rem;
    cursor: pointer;
    transition: 0.2s all ease-in-out;
}

.form-group input:focus,
.form-group textarea:focus {
   border: 2px solid var(--secondary-color);
   box-shadow: 0px 0px 10px 2px var(--secondary-color);
}

.price h2 {
    text-align: center;
}


.form-group button:hover {
    background: var(--white-color);
    color: var(--primary-color);
}

.form-group  ::placeholder {
    color: var(--light-gray-color);
}

#footer {
     display: flex;
     text-align: center;
     justify-content: center;
     height: 2rem;
}

#footer a {
    color: #444;
    display: flex;
    align-items: center;
    height: 6rem;
}

span {
    margin: 0 0.7rem;
    color: red;
}

@media (max-width: 800px){

    .intro-content, .grid {
        grid-template-columns: 1fr;
    }

    .top-three-content {
        display: flex;
        flex-direction: row;
        height: 150vh;

    }

    .gallery-img {
        width: 100%;
        max-width: 100%;
        max-height: 100%;
    }

    .gallery-img img {
        width: 100%;
    }

    .grid-one-content {
        display: block;
    }

    .price h2 {
        padding-right: 8rem;
    }

    .price p {
        flex-flow: wrap;
        height: 30rem;
        width: 35rem;
    }
}